.App {
  font-family: Montserrat;
}

.showContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 0.7fr;
  grid-template-areas: "picContainer" "infoBar";
  grid-area: showContainer;
  margin-bottom: 35vh;
  width: 20vw;
  height: 10vh;
  border-radius: 1vw; 
}

.picContainer { grid-area: picContainer;
  width:30vw;
  border: 0.5px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.infoBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "showPrice quickBuy showTitle" 
  "showPrice quickBuy showDate" 
  "showPrice quickBuy showLoc";
  grid-area: infoBar;
  background-color: grey;
  width: 30vw;
  border: 0.5px solid black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.showPriceBuyNow { 
  grid-area: showPrice;
  font-weight: bold;
  font-size: 1.5vw;
  background-color: #077C91;
  border: 0.2vw solid #150760;
  width: 10vw;
  text-align: center;
  grid-gap: 0ch;
  border: 0.5px solid black;
  border-bottom-left-radius: 25px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.showPriceBuyNow:hover {
  background-color: rgb(11, 156, 182);
  transition: 0.3s;
}

.showPriceBuyNow:active {
  background-color: #077C91;
}

.showTitle { 
  grid-area: showTitle;  
  text-align: right;
  font-weight: bold;
  font-size: 1.3vw; 
  color:white; 
  padding-right: 1vh;
}

.showDate { 
  grid-area: showDate; 
  text-align: right;
  font-weight: bold;
  font-size: 1.1vw; 
  color:white;  
  padding-right: 1vh;

}

.showLoc { 
  grid-area: showLoc;  
  text-align: right;
  font-weight: bold;
  font-size: 1vw;   
  color:white;
  padding-right: 2vh;
 } 
 
.filters{
  transition-duration: 1s;
  
}
