.App {
  font-family: Arimo;
  text-align: center;
  background-color: #ecf0f1;
}

.showContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "picContainer" "infoBar";
  grid-area: showContainer;
  width: 90vw;
  margin-top: 10vw;
  box-shadow :2vw 2vw 1vw  #666e72;
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;
}

.picContainer {
  grid-area: picContainer;
  width:90vw;
  height: 25vw;
}
  
  .infoBar {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "showPriceBuyNow showTitle" 
    "showPriceBuyNow showDate" 
    "showPriceBuyNow showLoc";
    grid-area: infoBar;
    background-color: #D3D3D3;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    height: 6vw;
    
  }

  .showPriceBuyNow { 
    grid-area: showPrice; 
    font-weight: bold;
    font-size: 1.5vw;
    background-color: #077C91;
    color: white;
    width: 15vw;
    height: 6vw;
    border-bottom-left-radius: 4vw;
    text-align: center;
    cursor: pointer;
    margin-right: 100%;
    z-index: 1000;
    position: absolute;
  }

  .showPriceBuyNow:hover {
    background-color: rgb(11, 156, 182);
    transition: 0.3s;
  }

  .showPriceBuyNow:active {
    background-color: #077C91;
  }

  .showTitle { 
    grid-area: showTitle;  
    text-align: right;
    font-weight: bold;
    font-size: 2vw; 
    padding-right: 1vw;

  }

  .showDate { 
    grid-area: showDate; 
    text-align: right;
    font-weight: bold;
    font-size: 1.5vw; 
    padding-right: 1vw;
  }

  .showLoc { 
    grid-area: showLoc;  
    text-align: right;
    font-weight: bold;
    font-size: 1.3vw;   
    padding-right: 2vw;
  } 

.upDown {
  position: absolute;
  margin-left: 94vw;
}

.fa-chevron-down {
  width: 5vw;
  height: 4.5vw;
  background-color:#37819B;
  font-size: 4.5vw;
  color:white;
  cursor: pointer;
}

.fa-chevron-down:hover {
  background-color:rgb(68, 162, 196);
  transition: 0.3s;
}

.fa-chevron-down:active {
  background-color:#37819B;
}

.fa-chevron-up {
  width: 5vw;
  height: 4.5vw;
  background-color:#37819B;
  font-size: 4.5vw;
  color:white;
  cursor: pointer;
  position: absolute;
}

.fa-chevron-up:hover {
  background-color:rgb(68, 162, 196);
  transition: 0.3s;
}

.fa-chevron-up:active {
  background-color:#37819B;
}

.search {
  width: 100vw;
  height: 4.5vw;
  border: none;
  background-color: #37819B;
  font-size: 2vw;
  color: white;
  font-family: Arimo;
  position: absolute;
  margin-top: 0;
}

::-webkit-input-placeholder  {
  color: white;
}

.dropFilter {
  width: 25vw;
  height: 2vw;
  background-color: #37819B;
  border: none;
  margin-left: 1vw;
  font-size: 2vw;

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0px;
  width: 90%; 
  height: 1vw;
  border-radius: 5vw; 
  background: #F2F2F2; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 2vw; 
  height: 2vw; 
  border-radius: 20vw;
  background: #CECECE; 
  cursor: pointer; 
}

.filterNum {
  font-size: 2.5vw;
}

#filterBox {
  background-color: rgb(43, 101, 122);
  width: 100vw;
  height: 10vw;
  position: absolute;
}

.fixedMenu {
  position: fixed;
  background-color: black;
  top: 0;
  z-index: 1500;
}

.showPageContainer {
  background-color: #D6D6D6;
}

.showNamePage{
  text-align: right;
  font-size: 2vw;
}

.showDatePage{
  text-align: right;
  font-size: 1.5vw;
}

.showAdressPage{
  text-align: right;
  font-size: 1.5vw;
}

.showDescPage{
  text-align: right;
  font-size: 1.5vw;
}

.showPricePage{
  text-align: right;
  font-size: 1.5vw;
}

.youtubeBoxPage{
    width: 100%;
    height: 40vw;
}

.fa-star {
  color: #37819B;
}

.fa-calendar-alt{
  color: #37819B;
}

.fa-map-marked-alt{
  color: #37819B;
}

.fa-ticket-alt{
  color: #37819B;
}

.showPageButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.fa-home{
  width: 6vw;
  height: 4.8vw;;
  margin-top: 0;
  background-color: #37819B; 
  color: #C9C9C9;
  font-size: 4vw;
  padding-top: 1vw;
  float: left;
  border-radius: 50%;
  margin-left: 2vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.paypalPayBoxPage {
  height: 100%;
  margin-top: 1vw;
}